*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  color: #e6f1ff;
  overflow-x: hidden;
  font-size: 1.1rem;
}

@media (max-width: 1000px) {
  nav .nav__links {
    position: absolute;
    right: 0;
    top: 80px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    box-shadow: 0 0 5px #e6f1ff;
    border-left: 1px solid #e6f1ff;
  }
  nav a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    transition: ease 300ms;
    border-radius: 8px;
  }
  nav a:hover {
    background-color: #64ffda;
    color: #0a192f;
  }
  nav a,
nav button {
    position: relative;
    z-index: 99;
  }
  nav .nav__links::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0a192f;
    filter: blur(30px);
  }
  nav .hamburger {
    display: block;
  }
  nav .nav-active {
    transform: translateX(0%);
  }

  main .hero {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .grid__container {
    grid-template-areas: "header header header" "main main main" "sidebar sidebar sidebar" "aside aside aside" "footer footer footer" !important;
  }

  main {
    width: 100vw;
  }

  .sidebar {
    display: none !important;
  }

  aside {
    display: none !important;
  }

  nav .nav__links {
    width: 70%;
  }

  .hero {
    padding: 3rem 1rem 0 1rem !important;
  }
}
a {
  text-decoration: none;
  color: #e6f1ff;
}

a:hover {
  color: #64ffda;
}

button {
  color: #e6f1ff;
  background: transparent;
  border: 1px solid #64ffda;
  font-size: 1rem;
  color: #64ffda;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: ease 200ms;
}

button:hover {
  background-color: #64ffda;
  color: #0a192f;
  box-shadow: 0 0 10px #64ffda;
}

p {
  color: #a8b2d1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 100%;
  justify-content: space-between;
}
nav .logo {
  font-size: 2rem;
  color: #64ffda;
}

.nav__links {
  padding: 1rem 2rem;
  transition: transform 0.5s ease-in;
}
.nav__links a {
  margin-right: 1rem;
  font-size: 1.1rem;
}

.hamburger {
  display: none;
  width: 35px;
}
.hamburger:hover {
  cursor: pointer;
}

.ham-item {
  width: 30px;
  height: 4px;
  margin-top: 4px;
  background-color: #64ffda;
}

.grid__container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header header header" "sidebar main aside" "sidebar footer aside";
  grid-template-columns: 6rem 1fr 6rem;
  grid-template-rows: 5rem 1fr 5rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 5rem);
  width: 6rem;
}

.sidebar img {
  width: 30px;
}

.social__icons {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: -1;
  height: calc(100vh - 5rem);
  width: 6rem;
  right: 0;
}
aside .email {
  position: relative;
  transform: rotate(90deg);
}
aside .email:after {
  position: absolute;
  content: "";
  top: 10px;
  margin: 0 0 0 16px;
  width: 150px;
  height: 2px;
  background-color: #ccd6f6;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding-bottom: 2rem;
  color: #8892b0;
}
footer a {
  color: #8892b0;
}

.hero {
  padding: 3rem 5rem 0 5rem;
}
.hero .greeting {
  color: #64ffda;
  margin-bottom: 1rem;
}
.hero .name,
.hero .job {
  font-size: 5vw;
  margin-bottom: 1rem;
}
.hero .name {
  color: #ccd6f6;
}
.hero .job {
  color: #a8b2d1;
}
.hero .about-me {
  margin-bottom: 3rem;
  max-width: 30rem;
  line-height: 1.3;
}