.contact__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;

  & > div {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  h1 {
    font-size: 4rem;
  }
  h1,
  p {
    text-align: center;
  }
  .mid-heading::after {
    display: none;
  }
}
